<a href="https://colab.research.google.com/github/Hikmee/ML/blob/master/Modern_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionary**

In [ ]:

from typing import Dict , Union
import pprint # to print objects dict etc in a decent way

In [ ]:
Key: Union[str,int] #custom type
Value: Union[str, tuple, set ] # custom types
data: Dict[str , str] ={"name":"hikmat" , "fname":"Sibghat"}
data
pprint.pprint(data)
print(data["name"]) # key should be passed as we have puted in dictionary like string in dict so will pas as str

{'fname': 'Sibghat', 'name': 'hikmat'}
hikmat

Note: Hashable means unique identification that can't be changed.

key type should be hashable
like we can't use list key and we can make tuple a key because it's hashable(immutable)

In [ ]:
#type casting

abc: set = {1,2,3,4,}
x : list[int] = list(abc)
print(x)

[1, 2, 3, 4]

**SET data type:**
data: set = {1,2,3,3,}
note: we can't apply atration on set data type , for that we use typecasting
NOTE: set takes dta nique, or it holds the unique data

In [ ]:
#value addition in dict

data["name"] = "Qudrat"

In [ ]:
print(data.get("name" , "NA")) # if key will be available so it will give the vauw if not availabe than not give an error , here will give na

Qudrat

**data.keys** will give all keys
**data.values** will give all values in dictionary
**data.items** will give us both key and value of a dictionary in the orm of typle
Note: all above are generator function means to execute it we should have to write it in for/ist loop

In [ ]:
{k : v for k,v in data.items()} # unzip the dictionay
# we can also shufle keys and values by list comprehensive
{v : k for k,v in data.items()}

Key: Union[str,int]
keys:list[str] = ['name' , 'fname' , 'ID']
data:dict[Key,Value]={}
print(data)

ndata=data.fromkeys(keys) # this will add list to the dict as key , if key will not be present then we can print a default value like NA as well
print(ndata)

NameError: ignored

**Class08**
24/10/2023

TypeDict is basically used for making long types eg if we make dictionary in list (nested typing),
and we import this from typing

In [ ]:
methods: list[str] = [m for m in dir(data) if "__" not in m]
print(methods) # these all are dictionary methods

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
import pandas as pd
from typing import Any

In [ ]:
students_data:Dict[str, list[Any]] = {
    "name": ["Hikmat Ullah" , "Qudrat Ullah" , "Hassnain"],
    "Father Name": ["Sibghat Ullah" , "Sibghat Ullah","Sibghat Ullah"],
    "Reg No": ["20pwcse1919" , "20pwcse1919" ,"20pwcse1919"]
}
dataframe: pd.DataFrame =pd.DataFrame(students_data)
print(dataframe)

           name    Father Name       Reg No
0  Hikmat Ullah  Sibghat Ullah  20pwcse1919
1  Qudrat Ullah  Sibghat Ullah  20pwcse1919
2      Hassnain  Sibghat Ullah  20pwcse1919

jsonify method converts the dictionary into json fromat

**Class 09**

**Attretion** <br>

Note: if we perform attretaion on dictionary so by default this gives us keys <br>
we cant directly perform attretion on set

input from user <br>
input function <br>

*   default type = string
<br>sys.argv(for console input in abc.py file) <br>
default type object( means we will receive that what we will put in it)

In [ ]:
input : str = input("enter your name")

console input ( argv)


*   passed in console with file name
*   to use ( import sys)

In [ ]:
import sys
print("line1")
print(sys.argv) # iterative data type , argv type is list

to check methods of any datatype <br>
dir(datatype)

**Controls:**


1.   break
2.   continue
3.   pass ( eg if we write some code and want to write the rest of the code so our program will skip the error here instead giving error)

**Class 09**

Functions


1.   return
2.   non-return

Requaired parameters function

In [ ]:
def addnum(num1 : int , num2 : int) -> int: # function declearation with parameters
  return(num1+num2)

addnum(3,4) # function call with arguments

7

function with optional parameters

In [ ]:
def add_numbr(num1:int , num2:int = 0) -> int:
  print(num1 , num2)
  return num1 + num2

add_numbr(1,5)
add_numbr(1)

1 5
1 0

1

**Lambda function** <br>
one line function <br>
without name function <br>
only use in this line <br>
annonymus function
<br>
**Syntax** <br>
lambda param1,param2:function_body <br>

*NOTE*: we use lambda function for space efficiency <br>
callabe

In [ ]:
a = lambda num1,num2: num1+num2 #lambda function decleration

a(7,8) # function call

15

In [ ]:
data: list[int] = [1,2,3,4,5,6,7,8]

data = list(map(lambda x:x**2 , data)) # we apply attretion (list) because its generator function
data

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
data: list[int] = [1,2,3,4,5,6,7,8]

data = list(filter(lambda x:x%2 == 0 , data)) # we apply attretion (list) because its generator function
data

[2, 4, 6, 8]

**Generator function** <br>
*iterate one by one
<br> *stop after each iteration <br>
*remember old (last) iteration value <br>
*next iterate go forward from that last one

In [ ]:
def my_range(start:int , end:int , step:int):
  for i in range(start , end+1 , step):
    yield i #generator function

a = list(my_range(1,10 , 1))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from collections.abc import Iterator

def my_range(start:int , end:int , step:int = 1)->Iterator[int]:
  for i in range(start , end+1 , step):
    yield i #generator function

a :Iterator[int]= my_range(1,10 , 1)
print(next(a))
print(next(a))

print(type(a))

for i in a:
  print(i)

1
2
<class 'generator'>
3
4
5
6
7
8
9
10

passing Unlimited arguments


1.   *args
2.   **keyargs

In [ ]:
from typing import Tuple, Dict
def gret(*names: Tuple[str , ...])->None:
  print(f"hello{names}")

**Numpy**

In [1]:
!pip install nptyping beartype

Collecting nptyping
  Downloading nptyping-2.5.0-py3-none-any.whl (37 kB)
Collecting beartype
  Downloading beartype-0.16.4-py3-none-any.whl (819 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 819.1/819.1 kB 25.9 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0.0,>=1.20.0 in /usr/local/lib/python3.10/dist-packages (from nptyping) (1.23.5)
Installing collected packages: nptyping, beartype
Successfully installed beartype-0.16.4 nptyping-2.5.0

#Scalar type <br>
* NOTE: Scalar has no any dimensions ( zero dimention)

In [3]:
import numpy as np

a: np.ndarray = np.array(1000)
display(a)
display(a.shape)
display(type(a))
display(a.dtype)
display(a.ndim)
display(a.size) # how many bits it consists
display(a.itemsize)

array(1000)

()

numpy.ndarray

dtype('int64')

0

1

8

#Vector type

In [5]:
import numpy as np

a: np.ndarray = np.array([1,2,3,4,5,6,7])
display(a)
display(a.shape)
display(type(a))
display(a.dtype)
display(a.ndim)
display(a.size) # number of elemnts
display(a.itemsize) # how many bits it consists

array([1, 2, 3, 4, 5, 6, 7])

(7,)

numpy.ndarray

dtype('int64')

1

7

8

In [9]:
a.size ?
help(a.itemsize)

SyntaxError: ignored

In [10]:
import numpy as np
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

a: np.ndarray = np.array(data)
display(a)
display(a.shape)
display(type(a))
display(a.dtype)
display(a.ndim)
display(a.size) # number of elemnts
display(a.itemsize) # how many bits it consists

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

(3, 3)

numpy.ndarray

dtype('int64')

2

9

8

#Numpy with NDArray typing support

In [17]:
from nptyping import NDArray , Shape ,  UInt64
from typing import Any

data : NDArray[Shape["10"] , Any] = np.arange(1,11)
print(data)
print(data+5) # tis operation can't b edone without numpy

[ 1  2  3  4  5  6  7  8  9 10]
[ 6  7  8  9 10 11 12 13 14 15]

In [19]:
%%time

data : NDArray[Shape["10"] , Any] = np.arange(1,10000000)
data + 5

CPU times: user 23.5 ms, sys: 43.7 ms, total: 67.2 ms
Wall time: 68.2 ms

array([       6,        7,        8, ..., 10000002, 10000003, 10000004])

In [20]:
%%time
data: list[int] = list(range(1,1000000))

[i + 5 for i in data]

CPU times: user 124 ms, sys: 44.5 ms, total: 168 ms
Wall time: 415 ms

[6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 ...]

#numpy advanced operations vs list operations

###Normal python

In [21]:
data: list[int] = list(range(1,20))
print(data)
print(data[5:11])
data[5:11] = 100 # ormal python does not allow this

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[6, 7, 8, 9, 10, 11]

TypeError: ignored

In [23]:
ndata: NDArray[Shape["20"], Any] = np.arange(1,21)
print(ndata)
print(ndata[5:11])
ndata[5:11] = 1000 # consider it as changing resolution of images
print(ndata)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 6  7  8  9 10 11]
[   1    2    3    4    5 1000 1000 1000 1000 1000 1000   12   13   14
   15   16   17   18   19   20]

# numpy 1D arrays functions

In [25]:
state_bank: NDArray[Shape["10"] , Any] = np.array([1,7,8,10])
ubl_bank: NDArray[Shape["100"], Any] = np.random.randint(1,1000 , 20) # min , max, number of items

display(state_bank)
display(ubl_bank)

array([ 1,  7,  8, 10])

array([ 33,  95, 182, 311, 873, 154, 835, 544, 885, 458, 220, 335, 161,
       430, 246, 300, 904, 661,  54, 746])

##Bool search in Numpy

In [47]:
from nptyping.typing_ import Bool
import beartype

state_bank: NDArray[Shape["4"] , Any] = np.array([1,7,8,10])
#[1,7,8,10]
#[True , False , False , True]
#variable[True , False , False , True]
select: NDArray[Shape["4"] , Bool] = np.array([True , False , False , True]) # dimention should be same as the NDArray
# # will return in bool array
state_bank[select]
# state_bank[state_bank % 2 == 0]

array([ 1, 10])

In [35]:
display(state_bank)
display(ubl_bank)
np.in1d(state_bank , ubl_bank) # first var items length returned

array([ 1,  7,  8, 10])

array([ 33,  95, 182, 311, 873, 154, 835, 544, 885, 458, 220, 335, 161,
       430, 246, 300, 904, 661,  54, 746])

array([False, False, False, False])

In [36]:
np.intersect1d(state_bank , ubl_bank)

array([], dtype=int64)

In [40]:
ubl_bank: NDArray[Shape["100"], Any] = np.random.randint(1,1000 , 20) # min , max, number of items
hbl_bank: NDArray[Shape["100"], Any] = np.random.randint(1,1000 , 20) # min , max, number of items
display(f"UBL bank: {ubl_bank}")
display(f"HBL bank: {hbl_bank}")
np.where(ubl_bank > hbl_bank , ubl_bank , hbl_bank)  # use for comperison like image resultaion

'UBL bank: [557 705 399 876 613 259 486 925  65 499 723 649 800 819 615 958 770 340\n 395 740]'

'HBL bank: [289 835 117 735 675 342 584 523 444 315 865 908 823 206 965 208  99 912\n 937 909]'

array([557, 835, 399, 876, 675, 342, 584, 925, 444, 499, 865, 908, 823,
       819, 965, 958, 770, 912, 937, 909])

# Create Numpy Array

In [43]:
a: NDArray[Shape["*, *"] , Any] = np.array([[2,3,4] ,
                                                  [5,6,7]])

print(a)

a: NDArray[Shape["* ,*"] , Any] = np.array([[3,4] ,
                                                  [6,7]])
print(a)

a: NDArray[Shape["*, *"] , Any] = np.array([["A"] ,
                                                  ["B"]])
print(a)

[[2 3 4]
 [5 6 7]]
[[3 4]
 [6 7]]
[['A']
 ['B']]

In [44]:
np.who() # tells all variables history that we have created so for

Name            Shape            Bytes            Type
===========================================================

_               20               160              int64
__              20               160              int64
___             20               160              int64
a               2 x 1            8                str32
_19             9999999          79999992         int64
ndata           20               160              int64
state_bank      4                32               int64
ubl_bank        20               160              int64
select          4                32               int64
_27             4                4                bool
_29             4                4                bool
_30             10               10               bool
_31             4                4                bool
_32             2                16               int64
_33             4                4                bool
_34             4                4                bool
_35             4                4                bool
_36             0                0                int64
hbl_bank        20               160              int64
_37 (___)       20               160              int64
_38 (__)        20               160              int64
_40 (_)         20               160              int64

Upper bound on total bytes  =       80001074

In [45]:
a: NDArray[Shape["Size, Size"] , Any] = np.arange(3*3).reshape(3,3)

print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [46]:
a: NDArray[Shape["Size, Size , Size"] , Any] = np.arange(2*3*3).reshape(2,3,3)

print(a)

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]