In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e1/sample_submission.csv
/kaggle/input/playground-series-s4e1/train.csv
/kaggle/input/playground-series-s4e1/test.csv

In [2]:
df1 = pd.read_csv("/kaggle/input/playground-series-s4e1/sample_submission.csv")
df2 = pd.read_csv("/kaggle/input/playground-series-s4e1/test.csv")
df3 = pd.read_csv("/kaggle/input/playground-series-s4e1/train.csv")

## Sample_submittion dataset preprocessing

In [3]:
print(df1.shape)
df1.head()

(110023, 2)

       id  Exited
0  165034     0.5
1  165035     0.5
2  165036     0.5
3  165037     0.5
4  165038     0.5

In [4]:
Y_test = df1.drop(columns=['id'])
Y_test = Y_test.astype('int64')
Y_test

        Exited
0            0
1            0
2            0
3            0
4            0
...        ...
110018       0
110019       0
110020       0
110021       0
110022       0

[110023 rows x 1 columns]

## Test dataset preprocessing

In [5]:
print(df2.shape)
df2.head()

(110023, 13)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [6]:
df2.duplicated().sum()

0

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               110023 non-null  int64
 1   CustomerId       110023 non-null  int64
 2   Surname          110023 non-null  object
 3   CreditScore      110023 non-null  int64
 4   Geography        110023 non-null  object
 5   Gender           110023 non-null  object
 6   Age              110023 non-null  float64
 7   Tenure           110023 non-null  int64
 8   Balance          110023 non-null  float64
 9   NumOfProducts    110023 non-null  int64
 10  HasCrCard        110023 non-null  float64
 11  IsActiveMember   110023 non-null  float64
 12  EstimatedSalary  110023 non-null  float64
dtypes: float64(5), int64(5), object(3)
memory usage: 10.9+ MB

In [8]:
df2.drop(columns=['id' , 'CustomerId', 'Surname' ], inplace= True)

In [9]:
df2 = pd.get_dummies(df2, columns=['Geography', 'Gender'] , drop_first = True )

In [10]:
df2 = df2.astype('int64')

In [11]:
df2.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,586,23,2,0,2,0,1,160976,0,0,0
1,683,46,2,0,1,1,0,72549,0,0,0
2,656,34,7,0,2,1,0,138882,0,0,0
3,681,36,8,0,1,1,0,113931,0,0,1
4,752,38,10,121263,1,1,0,139431,1,0,1

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CreditScore        110023 non-null  int64
 1   Age                110023 non-null  int64
 2   Tenure             110023 non-null  int64
 3   Balance            110023 non-null  int64
 4   NumOfProducts      110023 non-null  int64
 5   HasCrCard          110023 non-null  int64
 6   IsActiveMember     110023 non-null  int64
 7   EstimatedSalary    110023 non-null  int64
 8   Geography_Germany  110023 non-null  int64
 9   Geography_Spain    110023 non-null  int64
 10  Gender_Male        110023 non-null  int64
dtypes: int64(11)
memory usage: 9.2 MB

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
scaled_test = scaler.fit_transform(df2)

## Train dataset Preprocessing

In [15]:
print(df3.shape)
df3.head()

(165034, 14)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [16]:
df3.duplicated().sum()

0

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

In [18]:
df3['Age'] = df3['Age'].astype('int64')
df3['HasCrCard'] = df3['HasCrCard'].astype('int64')
df3['IsActiveMember'] = df3['IsActiveMember'].astype('int64')

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  int64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  int64
 11  IsActiveMember   165034 non-null  int64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 17.6+ MB

In [20]:
df3.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33,3,0.00,2,1,0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33,1,0.00,2,1,1,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40,10,0.00,2,1,0,184866.69,0
3,3,15741417,Kao,581,France,Male,34,2,148882.54,1,1,1,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33,5,0.00,2,1,1,15068.83,0

In [21]:
df3.drop(columns=['id' , 'CustomerId', 'Surname' ], inplace= True)

In [22]:
df3.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33,3,0.00,2,1,0,181449.97,0
1,627,France,Male,33,1,0.00,2,1,1,49503.50,0
2,678,France,Male,40,10,0.00,2,1,0,184866.69,0
3,581,France,Male,34,2,148882.54,1,1,1,84560.88,0
4,716,Spain,Male,33,5,0.00,2,1,1,15068.83,0

In [23]:
df3['Geography'].value_counts()

Geography
France     94215
Spain      36213
Germany    34606
Name: count, dtype: int64

In [24]:
 df3 = pd.get_dummies(df3, columns=['Geography', 'Gender'] , drop_first = True )

In [25]:
df3

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,668,33,3,0.00,2,1,0,181449.97,0,False,False,True
1,627,33,1,0.00,2,1,1,49503.50,0,False,False,True
2,678,40,10,0.00,2,1,0,184866.69,0,False,False,True
3,581,34,2,148882.54,1,1,1,84560.88,0,False,False,True
4,716,33,5,0.00,2,1,1,15068.83,0,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
165029,667,33,2,0.00,1,1,1,131834.75,0,False,True,False
165030,792,35,3,0.00,1,0,0,131834.45,0,False,False,True
165031,565,31,5,0.00,1,1,1,127429.56,0,False,False,True
165032,554,30,7,161533.00,1,0,1,71173.03,0,False,True,False
165033,850,31,1,0.00,1,1,0,61581.79,1,False,False,True

In [26]:
df3 = df3.astype('int64')

In [27]:
df3

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,668,33,3,0,2,1,0,181449,0,0,0,1
1,627,33,1,0,2,1,1,49503,0,0,0,1
2,678,40,10,0,2,1,0,184866,0,0,0,1
3,581,34,2,148882,1,1,1,84560,0,0,0,1
4,716,33,5,0,2,1,1,15068,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
165029,667,33,2,0,1,1,1,131834,0,0,1,0
165030,792,35,3,0,1,0,0,131834,0,0,0,1
165031,565,31,5,0,1,1,1,127429,0,0,0,1
165032,554,30,7,161533,1,0,1,71173,0,0,1,0
165033,850,31,1,0,1,1,0,61581,1,0,0,1

In [28]:

X = df3.drop(columns=['Exited'], axis=1)
Y = df3['Exited']
print(X.shape)
print(Y.shape)

(165034, 11)
(165034,)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
# X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

# Now to Apply the algorithm

In [31]:
Scaled_X_train = scaler.fit_transform(X)

In [32]:
Scaled_X_train
print(Scaled_X_train.shape)

(165034, 11)

In [33]:
#!pip install tensorflow
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

2024-01-31 21:54:16.541603: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-31 21:54:16.541744: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-31 21:54:16.670276: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [34]:
model = Sequential()

model.add(Dense(11 , activation='relu', input_dim=11))
model.add(Dense(5 , activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [35]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 5)                 60

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 198 (792.00 Byte)
Trainable params: 198 (792.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics='accuracy')

In [37]:
history = model.fit(Scaled_X_train, Y, epochs=10, validation_split=0.2)

Epoch 1/10

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1706738070.347736      69 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

4126/4126 [==============================] - 17s 3ms/step - loss: 0.3771 - accuracy: 0.8364 - val_loss: 0.3373 - val_accuracy: 0.8574
Epoch 2/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3325 - accuracy: 0.8611 - val_loss: 0.3345 - val_accuracy: 0.8594
Epoch 3/10
4126/4126 [==============================] - 13s 3ms/step - loss: 0.3297 - accuracy: 0.8617 - val_loss: 0.3304 - val_accuracy: 0.8607
Epoch 4/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3268 - accuracy: 0.8636 - val_loss: 0.3275 - val_accuracy: 0.8625
Epoch 5/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3254 - accuracy: 0.8637 - val_loss: 0.3271 - val_accuracy: 0.8626
Epoch 6/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3245 - accuracy: 0.8642 - val_loss: 0.3262 - val_accuracy: 0.8632
Epoch 7/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3243 - accuracy: 0.8641 - val_loss: 0.3264 - val_accuracy: 0.8650
Epoch 8/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3240 - accuracy: 0.8643 - val_loss: 0.3262 - val_accuracy: 0.8632
Epoch 9/10
4126/4126 [==============================] - 13s 3ms/step - loss: 0.3241 - accuracy: 0.8639 - val_loss: 0.3261 - val_accuracy: 0.8632
Epoch 10/10
4126/4126 [==============================] - 14s 3ms/step - loss: 0.3237 - accuracy: 0.8642 - val_loss: 0.3262 - val_accuracy: 0.8628

In [38]:
model.layers[2].get_weights()

[array([[ 0.5339664 ],
        [ 0.6525772 ],
        [ 1.217759  ],
        [-1.3195996 ],
        [ 0.43111715]], dtype=float32),
 array([-0.26731265], dtype=float32)]

In [39]:
prediction=model.predict(scaled_test)

3439/3439 [==============================] - 5s 1ms/step

In [40]:
final_prediction=np.where(prediction>0.5,1,0)
final_prediction

array([[0],
       [1],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [41]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test,final_prediction)
accuracy

0.8416512910936804